.hero-text {
    margin-top: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-green);
}

.hero-text h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--dark-green);
}

.hero-text h1 > span {
    position: relative;
    display: inline-block;
    height: 3rem;
    overflow: hidden;
    vertical-align: bottom;
    margin-left: 10px;
}

.hero-text h1 > span > span {
    display: block;
    color: var(--primary-green);
    animation: animateWords 8s infinite ease-in-out;
}

@keyframes animateWords {
    0%   { transform: translateY(0%); }
    20%  { transform: translateY(-100%); }
    40%  { transform: translateY(-200%); }
    60%  { transform: translateY(-300%); }
    80%  { transform: translateY(-200%); }
    100% { transform: translateY(0%); }
}
